* {
  box-sizing: border-box;
}

body {
  display: inline
  margin: 0px;
  background: white;
  font-family: sans-serif;
  font-size: 12px;
  color: black;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.label {
  text-anchor: middle;
  pointer-events : none;

}

.node {
  cursor : pointer;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}