* {
  box-sizing: border-box;
}

html, body {
  display: inline
  margin: 0px;
  background: white;
  font-family: sans-serif;
  font-size: 12px;
  color: black;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: inline-block;
  border: 4px dotted black
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: start;
  align-items: center;
}
.wrapper {
  display: inline-block;
  border: 4px dotted black;
}

.wrapper:hover .caption {
  visibility: visible;
  opacity: 10;
}

.caption {
  border: 4px dotted black
  color: white;
  display: flex;
  align-items:center;
  justify-content:center;
  visibility: hidden;
  opacity: 0;
  height: 50px;
  transition : all 0.4s ease-out;
}

.label {
  text-anchor: middle;
  pointer-events : none;

}

.node {
  cursor : pointer;
}
